{% load static %}
<!DOCTYPE html>
<html lang="en" id="page-top" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Turttle | Articles </title>
    <meta property="og:title" content="Turttle | Articles">
    <meta property="og:description" content="focused articles">
    <meta property="og:image" content="/Turttle_front/static/scriptmanager/resources/img/og_image.jpg">

    <meta name="description" content="focused articles.">
    <meta name="keywords" content="portfolio, framework, article">

    <link rel="image_src" href="/Turttle_front/static/scriptmanager/resources/img/image_src.jpg">
    <meta name="theme-color" content="#D9D8D3">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static "article/resources/css/landing.css" %}' />
</head>

<body>
    <section class="hero is-fullheight hero-background">
        <div class="hero-head">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <span>Turttle</span>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroC" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active">
                                Home
                            </a>
                            <a class="navbar-item">
                                Examples
                            </a>
                            <a class="navbar-item">
                                Documentation
                            </a>
                            <span class="navbar-item">
                                <a class="button is-success is-inverted">
                                    <span class="icon">
                                        <i class="fab fa-github"></i>
                                    </span>
                                    <span>Download</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class='title ubuntu-font is-capitalized'>Articles.</h1>
                <h2 class="subtitle ubuntu-font">
                    article focused
                </h2>
            </div>
        </div>
        <div class="hero-body">
            <div class="has-text-centered">

            </div>

        </div>
    </section>
</body>

</html>