{% load static %}
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top" id="page-top" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Turttle | Articles</title>
    <meta property="og:title" content="Turttle | Articles.">
    <meta property="og:description" content="article storage">
    <meta property="og:image" content="/Turttle_front/static/scriptmanager/resources/img/og_image.jpg">

    <meta name="description" content="turttle walks slowly.">
    <meta name="keywords" content="portfolio, framework, article">

    <link rel="image_src" href="/Turttle_front/static/scriptmanager/resources/img/image_src.jpg">
    <meta name="theme-color" content="#D9D8D3">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static "home/resources/css/landing.css" %}' />
</head>

<body>

</body>

</html>